.slider(:class='{"-small": small}')
  ul.slider__wrapper(:style='wrapperTransform')
    SlideVue(v-for="slide in slides" :key="slide.index" :slide="slide" :current="currentSlide")
  SliderControl(v-show='!slideStart' type="previous" title="Go to previous slide" @click="handlePreviousClick")
  SliderControl(v-show='!slideEnd' type="next" title="Go to next slide" @click="handleNextClick")
