.footer {
  background: $color-grey-dark;
  position: relative;
  margin-top: 40rem;
  @media screen and (max-width: $screen-size-md) {
    margin-top: 10rem;
  }

  .brushes {
    position: absolute;
    top: -30rem;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    @media screen and (max-width: $screen-size-md) {
      display: none;
    }

    .brush {
      position: absolute;
      top: 0;
      width: 100%;

      &-primary {
        top: -5rem;
      }
    }
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;
    @media screen and (max-width: $screen-size-md) {
      flex-direction: column;
    }
  }

  &-section {
    display: flex;
    @media screen and (max-width: $screen-size-md) {
      width: 100%;
      justify-content: space-between;
      padding: 0 1.5rem;
    }
    &:last-child {
      align-items: center;
      @media screen and (max-width: $screen-size-md) {
        flex-direction: column;
        align-items: center;
        .contact-logo {
          margin: 0;
        }
        .contact-address {
          order: 1;
          text-align: center;
        }
      }
    }

    ul {
      padding: 0;
      list-style: none;
      margin-right: 15rem;
      @media screen and (max-width: $screen-size-md) {
        margin-right: 0;
      }
      &:last-child {
        margin-right: 0;
        @media screen and (max-width: $screen-size-md) {
          text-align: right;
        }
      }

      li {
        margin-bottom: 2rem;

        a {
          color: $color-white;

          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}

.contact-address {
  width: 30rem;
  text-align: right;

  p {
    color: $color-white;
    margin: 0;
    font-size: 1.6rem;

    &:first-child {
      margin-bottom: 1rem;
    }

    &:last-child {
      margin-top: 2rem;
    }
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  @media screen and (max-width: $screen-size-md) {
    flex-direction: column;
    align-items: center;
  }

  > div {
    flex: 1;
  }

  button {
    background: transparent;
    padding: 0;
    margin: 0;
    outline: transparent;
    color: $color-primary;
    border: none;
    cursor: pointer;

    &:hover {
      color: $color-white;
    }
  }

  .copyright {
    color: $color-primary;
    font-size: 1rem;
    text-align: right;
  }

  .social-networks {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      list-style: none;
      margin-left: 3rem;
      @media screen and (max-width: $screen-size-md) {
        margin-left: 0;
        margin: 0 1.5rem;
      }

      a {
        display: block;
      }

      .social__logo {
        width: 3rem;
        height: 3rem;
        transition: fill 0.3s;
        fill: $color-primary;

        &:hover {
          fill: $color-white;
        }
      }
    }
  }
}
