.footer {
  background: $color-grey-dark;
  position: relative;
  margin-top: 40rem;
  .brushes {
    position: absolute;
    top: -30rem;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    .brush {
      position: absolute;
      top: 0;
      width: 100%;
      &-primary {
        top: -5rem;
      }
    }
  }
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;
  }

  &-section {
    display: flex;

    &:last-child {
      align-items: center;
    }

    ul {
      padding: 0;
      list-style: none;
      margin-right: 15rem;
      &:last-child {
        margin-right: 0;
      }
      li {
        margin-bottom: 2rem;
        a {
          color: $color-white;
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}

.contact-address {
  width: 30rem;
  text-align: right;
  p {
    color: $color-white;
    margin: 0;
    font-size: 1.6rem;
    &:last-child {
      margin-top: 2rem;
    }
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  > div {
    flex: 1;
  }
  button {
    background: transparent;
    padding: 0;
    margin: 0;
    outline: transparent;
    color: $color-primary;
    border: none;
    cursor: pointer;
    &:hover {
      color: $color-white;
    }
  }
  .copyright {
    color: $color-primary;
    font-size: 1rem;
    text-align: right;
  }
  .social-networks {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      list-style: none;
      margin-left: 3rem;

      a {
        display: block;
      }

      .social__logo {
        width: 3rem;
        height: 3rem;
        transition: fill 0.3s;
        fill: $color-primary;
        &:hover {
          fill: $color-white;
        }
      }
    }
  }
}
