.event-card {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
  position: relative;
  &:hover {
    img {
      transform: scale(1.02);
    }
  }
  @media screen and (max-width: $screen-size-md) {
    flex-direction: column;
  }
  &__date {
    width: 10rem;
    text-align: center;
    align-self: flex-start;
    transform: translateY(-6rem);
    @media screen and (max-width: $screen-size-md) {
      position: absolute;
      transform: translateY(0);
      top: 1rem;
      left: 1rem;
      color: $color-white;
      text-align: left;
    }
    span {
      display: block;
      font-family: $rqp-default-heading-font-family;
    }
  }
  &__thumbnail {
    max-width: 65rem;
    width: 100%;
    height: 40rem;
    margin: 0 4rem;
    a {
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: transform 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 40rem;
    p {
      flex: 1;
    }
    a {
      display: block;
      width: 23rem;
      margin-bottom: 2rem;
    }
    h3 {
      margin: 2rem 0 1rem;
    }
  }
}
