.flex {
  display: flex;
  @media screen and (max-width: $screen-size-md) {
    flex-direction: column;
  }
  &.-space-between {
    justify-content: space-between;
  }
  &.flex-1 {
    > div {
      flex: 1;
    }
  }
}
