h1, h2, h3 {
  font-family: $rqp-default-heading-font-family;
  font-weight: lighter;
  display: block;
  margin-top: 0;
  margin-bottom: 6rem;
}

.title-1, .title-2, .title-3, .title-4 {
  color: $color-text-primary-dark;
}

a {
  font-family: $rqp-default-font-family-semi-bold;
  color: $color-primary;
  text-decoration: none;
}

.-colored-span {
  span {
    color: $color-primary;
  }
}

.-bold-span {
  span {
    font-family: $rqp-default-font-family-semi-bold;
  }
}

p {
  font-size: $text-default-size;
  line-height: $text-default-line-height;
  strong {
    font-family: $rqp-default-font-family-bold;
  }
}

.text {
  margin: 0;
  padding: 0;
  @include q-text-size;
  @include q-font-weight;
  @include q-text-alignment;
}
