@import "normalize";
@import "token/token";
@import "quarks/quarks";
@import "atom/link";

:root {
  box-sizing: border-box;
  font-family: $rqp-default-font-family;
  font-size: $rqp-font-size-default;
}

* {
  box-sizing: border-box;
}

body {
  font-size: $rqp-font-size-body;
  color: $color-text-primary-dark;
  overflow-x: hidden;
}

.container {
  max-width: 160rem;
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
  @media screen and (max-width: 1680px) {
    max-width: 150rem;
  }
}

.section {
  margin: 10rem auto 0;
}

