$brush-width: 48.2rem;
.content-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .brushed {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%;
  }
  .brush-left {
    -webkit-mask-image: url('~/assets/svg/brushes/image-mask-left.svg');
    mask-image: url('~/assets/svg/brushes/image-mask-left.svg');
    @media screen and (max-width: $screen-size-md) {
      -webkit-mask-image: none;
      mask-image: none;
    }

  }
  .brush-right {
    -webkit-mask-image: url('~/assets/svg/brushes/image-mask-right.svg');
    mask-image: url('~/assets/svg/brushes/image-mask-left.svg');
    @media screen and (max-width: $screen-size-md) {
      -webkit-mask-image: none;
      mask-image: none;
    }
  }
}
