li(ref='slide' :class='classNames' @mousemove='handleMouseMove' @mouseleave='handleMouseLeave')
  .slide__image-wrapper
    .slide__image-overlay
    img.slide__image(:alt='slide.headline' :src='slide.src' @load='imageLoaded')
